<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xmlns:security="http://www.springframework.org/schema/security"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
                           http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd
                           http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop.xsd
                           http://www.springframework.org/schema/security http://www.springframework.org/schema/security/spring-security.xsd">

    <import resource="classpath:serviceContext.xml"/>
    <context:component-scan base-package="org.sdoroshenko.rest"/>

    <aop:config>
        <aop:aspect id="traceAspect" ref="traceRestAspect">
            <aop:pointcut id="pointCutTrace"
                          expression="execution(@(javax.ws.rs.GET) * org.sdoroshenko.rest.MessageResource.*(..))"/>
            <aop:around method="trace" pointcut-ref="pointCutTrace"/>
        </aop:aspect>
    </aop:config>

    <security:authentication-manager id="authenticationManager" alias="authenticationManager">
        <security:authentication-provider user-service-ref="userService">
            <security:password-encoder ref="customPasswordEncoder"/>
        </security:authentication-provider>
    </security:authentication-manager>

    <bean id="filterChainProxy" class="org.springframework.security.web.FilterChainProxy">
        <security:filter-chain-map request-matcher="ant">
            <security:filter-chain pattern="/webapi/messages" filters="authFilter"/>
        </security:filter-chain-map>
    </bean>
</beans>