<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="REST Examples Model Tests" parallel="classes" thread-count="${thread.count}">
    <test name="model unit tests">
        <packages>
            <package name="org.sdoroshenko.model"/>
        </packages>
    </test>
</suite>