<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Component Tests" parallel="classes" thread-count="${thread.count}">
    <test name="a-t1">
        <packages>
            <package name="org.sergei"/>
        </packages>
    </test>
</suite>